name: Dump Test

on:
  push:
    branches:
      - "main"
  pull_request:

jobs:
  dump-test:
    name: Dump Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Run Test
        run: |
          cd ./test
          ./dump_test.sh
